<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>{% block pagename %}{% endblock %}</h1>
    </header>
    <nav>
        {% block menu %}
            <li><a href="/main/">Главная</a></li>
            <li><a href="/shop/">Магазин</a></li>
            <li><a href="/cart/">Корзина</a></li>
            <li><a href="/main/news/">Новости</a></li>
        {% endblock %}
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
